@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body {
  /* color: var(--foreground); */
  background: #fbfbfb;
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 500;
}

h1 {
  font-size: 85px;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 47px;
}
h4 {
  font-size: 42px;
}
h5 {
  font-size: 32px;
}
h6 {
  font-size: 14px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

